@tailwind base;
@tailwind components;
@tailwind utilities;

.rendering-auto { image-rendering: auto; }
.rendering-crisp-edges { image-rendering: crisp-edges; }
.rendering-pixelated { image-rendering: pixelated; }

#link_button:hover {
    -webkit-transform: scale(1.075);
    transform: scale(1.075);
}

#link_button:active {
    -webkit-transform: scale(.92);
    transform: scale(.92);
}